@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Noto+Sans+KR:wght@400;500&family=Overpass:wght@300;600;700&family=Ubuntu:wght@400;500&display=swap');

.container {
    height: 100vh;
    width: 100vw;
    font-family: 'Ubuntu', sans-serif;
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

